@import '../../shared/sass/_variables'
@import '../../shared/sass/_mixins'

.listCards
  @include flex(flex, center)

  width: 100%
  background-color: $bkg-color

.container
  @include flex(flex, flex-start, center, row, wrap)

  width: 80%
  height: auto
