@import '../../shared/sass/_variables'
@import '../../shared/sass/_mixins'

.container
  @include flex(flex, center, center, column)

  width: 1100px
  padding: 0 15px
  margin: auto

  .comicsList
    @include flex(flex, center, center, column)
    width: 100%

@media screen and ( min-width: 1900px )
  .container
    width: 1375px

@media screen and ( max-width: 1130px )
  .container
    width: 825px

@media screen and ( max-width: 870px )
  .container
    width: 555px

@media screen and ( max-width: 610px )
  .container
    width: 455px

@media screen and ( max-width: 455px )
  .container
    width: 90%
