@import '../../shared/sass/_variables'
@import '../../shared/sass/_mixins'

.containerSearch
  @include flex(flex, center, flex-start, column)

  .title
    @include font(700, 40, 1.1em)

    width: 600px
    color: $white

  .search
    @include flex(flex, flex-start)

    width: 95%
    margin-top: 25px

    .inputSearch
      @include font(400, 22)

      width: 100%
      padding: 15px

      outline: none
      border: none
      background-color: #f5f5f5
      border-radius: 4px 0 0 15px

      &::placeholder
        color: #858585

    .btnSearch
      width: 90px
      height: 65px
      margin-left: -3px

      background-color: $red
      border-radius: 5px 20px 5px 0px
      border: none

      cursor: pointer


.container
  @include flex(flex, center, center, column)

  width: 1100px
  padding: 0 15px
  margin: auto

  .cardsList
    @include flex(flex, space-between, center, row, wrap)
    width: 100%

  .Loading
    background-color: #aad
    padding: 30px
    width: 50%

@media screen and ( min-width: 1900px )
  .container
    width: 1375px

@media screen and ( max-width: 1130px )
  .container
    width: 825px

@media screen and ( max-width: 870px )
  .container,
  .containerSearch
    width: 555px

    .title
      @include font(700, 35, 1.1em)
      width: 500px

    .btnSearch
      width: 80px
      height: 57px

@media screen and ( max-width: 610px )
  .container
    width: 455px

    .cardsList
      @include flex(flex, center, center, row, wrap)

  .containerSearch
    width: 455px

    .title
      @include font(700, 25, 1.1em)
      width: 300px

    .search
      .inputSearch
        @include font(400, 18)
        padding: 10px

      .btnSearch
          width: 75px
          height: 55px

@media screen and ( max-width: 455px )
  .container,
  .containerSearch
    width: 90%
