@import '../../shared/sass/_variables'
@import '../../shared/sass/_mixins'

.header
  @include flex(flex, center)

  width: 100%
  padding: 20px 0
  background-color: $black

.container
  @include flex(flex, space-between, center, row, wrap)
  width: 75%

.btnTeam
  @include flex(flex, space-between, center)
  @include font(400, 20)

  height: 50px
  padding: 10px

  color: $white

  background-color: $red
  border: none
  border-radius: 4px 17px

  cursor: pointer

.btnTeamIcon
  width: 24px
  margin-left: 10px
