.header {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #202020;
}

.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--logo {

}

.header--button-team {
  display: flex;
  align-items: center;
  height: 50px;

  font: 400 1.25rem/1em 'Roboto', sans-serif;
  color: #fff;

  padding: 10px;
  background-color: #f43735;
  border: none;
  border-radius: 4px 17px;

  cursor: pointer;
}

.button--icon {
  width: 24px;
  margin-left: 10px;
}
